html {
  scroll-behavior: smooth; 
}

body {
  margin: 0;
  padding: 0;
  background: #544e4e no-repeat fixed 0% 0%;
  width: auto;
  height: auto;
  border-top: 4px solid #6600cc;
  border-bottom: 4px solid #6600cc;
}

.fab {
  font-size: 21pt;
  float: left;
  padding: 17px;
  color: white;
}

.fab:hover {
  background-color: #6600cc;
  border-radius: 40%;
  transition: 0.3s ease;
}

a {
  text-decoration: none;
}

.icons {
  background-color: #312d2d;
  font-size: 30px;
  padding: 10px;
  height: 59px;
  display: block;
}

.wordqk {
  opacity: 0.7;
  margin-right: 2%;
  float: right;
  display: block;
  font: bold 24pt cairo;
}

.wordqk:hover {
  opacity: 1;
}

.wordqk0 {
  text-align: center;
  color: #f9cc49;
  margin-left: 20%;
  font: bold 23pt cairo;
}

.sura {
  display: block;
  display: grid;
  font: bold 13pt cairo;
}

.s000 {
  opacity: 0.75;
  text-align: center;
  border-right: 4px solid lightgreen;
  border-bottom: 0.7px solid #f9cc49;

  width: 99.7%;
  line-height: 80px;
  background-color: #c8b88e;
  color: #005502;
}

.s000:hover {
  opacity: 1;
  background-color: #3e8e41;
  color: white;
  transition: 0.4s linear;
}

.sura2 {
  display: block;
  display: flex;
  flex-wrap: nowrap;
  font: bold 13pt cairo;
}

.word1 {
  background-color: #312d2d;
  padding: 20px;
  font: bold 15pt Cairo;
  color: #ffe7e2;
}

.fa-angles-down {
  color: white;
  font-size: 31pt;
  float: right;
  margin-left: 21%;
  padding-right: 10px;
  padding-top: 10px;
}

.fa-angles-down:hover {
  opacity: 0.5 ;
}

.fa-angles-up {
  color: white;
  font-size: 31pt;
  float: right;
}

.fa-angles-up:hover {
  opacity: 0.5 ;
}

@media screen and (max-width:300px) {

  body {
    margin: 0;
    padding: 0;
    background: #544e4e no-repeat fixed 0% 0%;
    width: auto;
    height: auto;
    border-top: 4px solid #6600cc;
    border-bottom: 4px solid #6600cc;
  }
  
  .fab {
    font-size: 13pt;
    float: left;
    padding: 14px;
    color: white;
  }
  
  .fab:hover {
    background-color: #6600cc;
    border-radius: 40%;
    transition: 0.3s ease;
  }
  
  a {
    text-decoration: none;
  }
  
  .icons {
    background-color: #312d2d;
    padding: 6px;
    height: 165px;
    display: block;
    font-size: 11pt;
    margin: 0 0 0 0;
  }
  
  .wordqk {
    opacity: 0.7;
    margin-right: 2%;
    float: right;
    
    font: bold 15pt cairo;
  }
  
  .wordqk:hover {
    opacity: 1;
  }
  
  .wordqk0 {
    text-align: center;
    color: #f9cc49;
    margin-left: 0%;
    font: bold 15pt cairo;
    float: right;
  }
  
  .sura {
    display: block;
    display: grid;
    font: bold 13pt cairo;
    
  }
  
  .s000 {
    opacity: 0.75;
    text-align: center;
    border-right: 4px solid lightgreen;
    border-bottom: 0.7px solid #f9cc49;
  
    width: 98.4%;
    background-color: #c8b88e;
    color: #005502;
  }
  
  .s000:hover {
    opacity: 1;
    background-color: #3e8e41;
    color: white;
    transition: 0.4s linear;
  }
  
  .sura2 {
    display: block;
    display: flex;
    flex-wrap: nowrap;
    font: bold 13pt cairo;
  }
}

@media screen and (min-width:301px) and (max-width:440px) {
  
  body {
    margin: 0;
    padding: 0;
    background: #544e4e no-repeat fixed 0% 0%;
    width: auto;
    height: auto;
    border-top: 4px solid #6600cc;
    border-bottom: 4px solid #6600cc;
  }
  
  .fab {
    font-size: 13pt;
    float: left;
    padding: 14px;
    color: white;
  }
  
  .fab:hover {
    background-color: #6600cc;
    border-radius: 40%;
    transition: 0.3s ease;
  }
  
  a {
    text-decoration: none;
  }
  
  .icons {
    background-color: #312d2d;
    padding: 6px;
    height: 135px;
    display: block;
    font-size: 11pt;
    margin: 0 0 0 0;
  }
  
  .wordqk {
    opacity: 0.7;
    margin-right: 2%;
    float: right;
    
    font: bold 15pt cairo;
  }
  
  .wordqk:hover {
    opacity: 1;
  }
  
  .wordqk0 {
    text-align: center;
    color: #f9cc49;
    margin-left: 10%;
    font: bold 15pt cairo;
    float: right;
  }
  
  .sura {
    display: block;
    display: grid;
    font: bold 13pt cairo;
    
  }
  
  .s000 {
    opacity: 0.75;
    text-align: center;
    border-right: 4px solid lightgreen;
    border-bottom: 0.7px solid #f9cc49;
  
    width: 99.1%;
    background-color: #c8b88e;
    color: #005502;
  }
  
  .s000:hover {
    opacity: 1;
    background-color: #3e8e41;
    color: white;
    transition: 0.4s linear;
  }
  
  .sura2 {
    display: block;
    display: flex;
    flex-wrap: nowrap;
    font: bold 13pt cairo;
  }
}

@media screen and (min-width:441px) and (max-width:600px) {

  body {
    margin: 0;
    padding: 0;
    background: #544e4e no-repeat fixed 0% 0%;
    width: auto;
    height: auto;
    border-top: 4px solid #6600cc;
    border-bottom: 4px solid #6600cc;
  }
  
  .fab {
    font-size: 13pt;
    float: left;
    padding: 14px;
    color: white;
  }
  
  .fab:hover {
    background-color: #6600cc;
    border-radius: 40%;
    transition: 0.3s ease;
  }
  
  a {
    text-decoration: none;
  }
  
  .icons {
    background-color: #312d2d;
    padding: 6px;
    height: 50px;
    display: block;
    font-size: 11pt;
    margin: 0 0 0 0;
  }
  
  .wordqk {
    opacity: 0.7;
    margin-right: 2%;
    float: right;
    
    font: bold 15pt cairo;
  }
  
  .wordqk:hover {
    opacity: 1;
  }
  
  .wordqk0 {
    text-align: center;
    color: #f9cc49;
    margin-left: 21%;
    font: bold 15pt cairo;
  }
  
  .sura {
    display: block;
    display: grid;
    font: bold 13pt cairo;
    
  }
  
  .s000 {
    opacity: 0.75;
    text-align: center;
    border-right: 4px solid lightgreen;
    border-bottom: 0.7px solid #f9cc49;
  
    width: 99.3%;
    background-color: #c8b88e;
    color: #005502;
  }
  
  .s000:hover {
    opacity: 1;
    background-color: #3e8e41;
    color: white;
    transition: 0.4s linear;
  }
  
  .sura2 {
    display: block;
    display: flex;
    flex-wrap: nowrap;
    font: bold 13pt cairo;
  }

  .fa-angles-down {
    color: white;
    font-size: 31pt;
    float: right;
    margin-left: 0;
    padding-right: 10px;
  }
}

@media screen and (min-width:601px) and (max-width:920px) {
  
  body {
    margin: 0;
    padding: 0;
    background: #544e4e no-repeat fixed 0% 0%;
    width: auto;
    height: auto;
    border-top: 4px solid #6600cc;
    border-bottom: 4px solid #6600cc;
  }
  
  .fab {
    font-size: 19pt;
    float: left;
    padding: 14px;
    color: white;
  }
  
  .fab:hover {
    background-color: #6600cc;
    border-radius: 40%;
    transition: 0.3s ease;
  }
  
  a {
    text-decoration: none;
  }
  
  .icons {
    background-color: #312d2d;
    padding: 6px;
    height: 82px;
    display: block;
    font-size: 11pt;
    margin: 0 0 0 0;
  }
  
  .wordqk {
    opacity: 0.7;
    margin-right: 2%;
    text-align: end;
    font: bold 15pt cairo;
  }
  
  .wordqk:hover {
    opacity: 1;
  }
  
  .wordqk0 {
    text-align: center;
    color: #f9cc49;
    margin-left: 13%;
    font: bold 18pt cairo;
  }
  
  .sura {
    display: block;
    display: grid;
    font: bold 13pt cairo;
    
  }
  
  .s000 {
    opacity: 0.75;
    text-align: center;
    border-right: 4px solid lightgreen;
    border-bottom: 0.7px solid #f9cc49;
  
    width: 99.5%;
    background-color: #c8b88e;
    color: #005502;
  }
  
  .s000:hover {
    opacity: 1;
    background-color: #3e8e41;
    color: white;
    transition: 0.4s linear;
  }
  
  .sura2 {
    display: block;
    display: flex;
    flex-wrap: nowrap;
    font: bold 13pt cairo;
  }
}

@media screen and (min-width:921px) and (max-width:1030px) {
  
  body {
    margin: 0;
    padding: 0;
    background: #544e4e no-repeat fixed 0% 0%;
    width: auto;
    height: auto;
    border-top: 4px solid #6600cc;
    border-bottom: 4px solid #6600cc;
  }
  
  .fab {
    font-size: 19pt;
    float: left;
    padding: 14px;
    color: white;
  }
  
  .fab:hover {
    background-color: #6600cc;
    border-radius: 40%;
    transition: 0.3s ease;
  }
  
  a {
    text-decoration: none;
  }
  
  .icons {
    background-color: #312d2d;
    padding: 6px;
    height: 82px;
    display: block;
    font-size: 11pt;
    margin: 0 0 0 0;
  }
  
  .wordqk {
    opacity: 0.7;
    margin-right: 2%;
    text-align: end;
    font: bold 15pt cairo;
  }
  
  .wordqk:hover {
    opacity: 1;
  }
  
  .wordqk0 {
    text-align: center;
    color: #f9cc49;
    margin-left: 21%;
    font: bold 23pt cairo;
  }
  
  .sura {
    display: block;
    display: grid;
    font: bold 13pt cairo;
    
  }
  
  .s000 {
    opacity: 0.75;
    text-align: center;
    border-right: 4px solid lightgreen;
    border-bottom: 0.7px solid #f9cc49;
  
    width: 99.6% ;
    background-color: #c8b88e;
    color: #005502;
  }
  
  .s000:hover {
    opacity: 1;
    background-color: #3e8e41;
    color: white;
    transition: 0.4s linear;
  }
  
  .sura2 {
    display: block;
    display: flex;
    flex-wrap: nowrap;
    font: bold 13pt cairo;
  }
}

@media screen and (min-width:1031px) and (max-width:1300px) {

}